body {
  font-family: Arial, sans-serif;
  background: #16162b;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}

.navbar{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top: 30px;
}

.navbar h1{
  font-size:65px;
  color:white;
  margin-bottom:20px;
}

.nav-links{
  display:flex;
  gap:40px;
}

.nav-links a{
  color:#4CAF50;
  text-decoration:none;
  font-size:28px;
  font-weight:bold;
  transition:0.3s;
}

.nav-links a:hover{
  color:#7CFF7C;
}

.calendar-label {
    display: none;
}

body.light {
  background: #f5f5f5;
  color: #222;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:60px 100px;
}

.hero-image img{
  width:500px;
  border-radius:20px;
}

.hero-text{
  width:50%;
}

.hero-text h2{
  font-size:60px;
}

.hero-text button{
  background:#4CAF50;
  color:white;
  border:none;
  padding:15px 25px;
  border-radius:10px;
  cursor:pointer;
}

.hero-image img{
  width:450px;
  border-radius:20px;
}

.auth-container{
  width:350px;
  margin:100px auto;
  background:#262645;
  padding:40px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.auth-container input{
  padding:15px;
  border-radius:10px;
  border:none;
}

.auth-container button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#4CAF50;
  color:white;
  cursor:pointer;
}
.container {
  background: #2c2c3e;
  margin: 100px auto;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  max-width: 1000px;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

.card {
  background: #2a2a40;
  padding: 30px; /* MORE SPACE */
  border-radius: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px; /* SPACE BETWEEN ELEMENTS */
}

input {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 19px;
}

button {
  padding: 15px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
}

button:hover {
  background: #16a34a;
}

li {
  margin-top: 15px;
  background: #3a3a50;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-bttom: 15px;
}

li.done {
  text-decoration: line-through;
  opacity: 0.6;
  color: gray;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.filters button {
  flex: 1;
  margin: 4px;
  background: #555;
}
body.light .container {
  background: white;
}

body.light li {
  background: #ddd;
}
li {
  transition: all 0.4s ease;
}

li:hover {
  transform: scale(1.02);
}
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.day {
  background: #2a2a40;
  padding: 15px;
  border-radius: 8px;
  min-height: 80px;
  font-size: 12px;
}

.day strong {
  display: block;
  margin-bottom: 5px;
}

.task-dot {
  width: 6px;
  height: 6px;
  background: #22c55e;
  border-radius: 50%;
  margin-top: 3px;
}
